@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.card__container {
  height: 50%;
}
.card {
  margin: 30px;
  margin-top: 30px;
  width: 300px;
  box-shadow: -3px 4px 19px 12px rgba(0, 0, 0, 0.42);
  background-color: rgb(235, 235, 235);
}

.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  justify-self: center;
}

.card__title {
  margin-top: 2px;
  text-align: center;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.card__description {
  height: 120px;
  padding: 10px 10px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Anton", sans-serif;
  font-size: 14px;
}

.card__footer {
  display: flex;
  padding: 5px;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(228, 238, 29);
}

.card__footer__item {
  width: 30%;
}

.item__title,
.item__subtitle {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Anton", sans-serif;
}

.item__title {
  font-size: 18px;
}

.item__subtitle {
  font-size: 12px;
  margin-top: 3px;
  font-family: "Anton", sans-serif;
}
